* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;  /*** This was done to use rem instead of px, 1 rem = 10px */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4.8rem;
  min-width: 37.5rem;
}

.brand-name {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 700;
  margin: 0.5rem;
  padding: 1rem 1.2rem;
  color: #fff;
  text-decoration: none;
}

.ham-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.8rem;
  min-width: 4rem;
  min-height: 4rem;
  border-radius: 8rem;
}

.ham-img {
  width: 2.4rem;
  height: 2.4rem;
  display: block;
}

/*** Main - Headline ***/

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
  padding-top: 12rem;
  padding-left: 2.4rem;
  min-height: 59rem;
  max-width: 37.5rem;
  background-color: #1c1a19;
  background-image: url("./img/background/illustration-header-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom -23% right;
}

.headline h1 {
  font-family: 'Crete Round', sans-serif;
  color: #ff6b00;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6.4rem;
  letter-spacing: 0.037rem;
}

.headline h1 span h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #fff5e1;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.headline p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: #fff;
}

/* ------------------------ */

/*** Main > Social Media Icons ***/

.social-media ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.8rem;
}

.media-img {
  display: block;
}

.media-img:hover {
  cursor: pointer;
  filter: invert(49%) sepia(77%) saturate(5619%) hue-rotate(8deg) brightness(96%) contrast(97%);
}

/*** Main - Works section ***/

.works-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 3rem;
  min-width: 32.7rem;
  min-height: 8.3rem;
  margin-top: 12rem;
}

.works-container h1 {
  font-family: 'Crete Round', sans-serif;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #1c1a19;
  text-align: center;
}

.works-container hr {
  justify-self: center;
  width: 30.5rem;
  border: 0.1rem solid #212121;
}

.img-placeholder {
  display: block;
  justify-self: center;
}

.works-stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-width: 32.7rem;
  min-height: 14.7rem;
}

.works-stories h1 {
  color: #091e42;
  font-size: 3.2rem;
  line-height: 4.4rem;
  max-height: 3.6rem;
}

.works-stories p {
  font-family: 'Inter', sans-serif;
  color: #091e42;
  font-size: 1.6rem;
  line-height: 2.4rem;
  max-width: 32.7rem;
}

.languages-box {
  font-family: 'Inter', sans-serif;
}

.languages-list {
  display: grid;
  grid-template-columns: 5.2rem 6.4rem 9.5rem 6.1rem;
  grid-template-rows: 4rem 4rem;
  gap: 1.2rem 1.2rem;
  grid-template-areas:
    "area-1 area-2 area-3 area-4"
    "btn-area btn-area . .";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  min-width: 32.7rem;
  min-height: 9rem;
}

.languages-list li {
  border: 0.1rem solid #8993a4;
  padding: 1rem 1.2rem;
  border-color: #091e42;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-area {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6b00;
}

.languages-list .btn-area {
  border: none;
  grid-area: 2 / span 2;
}

.btn {
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.4rem;
  min-width: 10rem;
  min-height: 2.4rem;
  color: #fff;
  text-decoration: none;
}

.btn-area:hover {
  cursor: pointer;
}

/*** Other Projects ***/

.project-box {
  display: flex;
  justify-content: center;
  min-height: 38.6rem;
  min-width: 32.7rem;
}

.project-content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  background-image: url(./img/background/projects-background.png);
  background-repeat: no-repeat;
  max-width: 32.7rem;
  max-height: 50rem;
  padding-top: 6rem;
}

.project-content h1 {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4.4rem;
  color: #fff;
  text-align: left;
  min-width: 29.5rem;
  padding-left: 1rem;
}

.project-content p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #fff;
  max-width: 29.5rem;
  padding-left: 1rem;
}

.project-content ul {
  display: grid;
  grid-template-columns: 6.4rem 9.5rem 6.1rem;
  grid-template-rows: 4rem 4rem;
  gap: 1.2rem 1.2rem;
  grid-template-areas: "area-1 area-2 area-3";
  padding-left: 1rem;
}

.list-area {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}

.large-btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4.8rem;
  background-color: #ff6b00;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.4rem;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.03rem;
  margin-top: -4.6rem;
}

/** About Me Page **/

.about_me {
  min-width: 37.5rem;
  min-height: 175.1rem;
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  margin-top: 12rem;
}

.about_me-container {
  min-width: 37.5rem;
  min-height: 55rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  row-gap: 1.5rem;
  background-image: url("./img/background/illustration-about-me-mobile.svg");
  background-repeat: no-repeat;
  background-position: top 76% right;
  margin-top: 12rem;
}

.about_me h1 {
  font-family: 'Crete Round', sans-serif;
  font-size: 7.2rem;
  line-height: 8.8rem;
  letter-spacing: 0.037rem;
  font-weight: 400;
  color: #ff6b00;
  width: 32.7rem;
  height: 7.9rem;
}

.about_me p {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #f4f5f7;
  width: 32.7rem;
  height: 14.8rem;
}

.about_me .btn-area {
  position: relative;
  right: 22%;
  min-width: 16rem;
  min-height: 4.8rem;
}

.about_me .btn {
  font-family: 'Inter', sans-serif;
}

.about_me hr {
  width: 30.5rem;
  border: 0.1rem solid #fff;
  margin: 2.5rem auto 7.5rem auto;
  position: relative;
  top: 14rem;
}

/** Skills Section **/

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12rem 2.4rem 3.8rem;
  gap: 2.4rem;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

.skills-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 16.4rem;
  min-height: 2.4rem;
  font-size: 3.2rem;
  line-height: 4.4rem;
}

.skills-section ul {
  text-align: center;
  font-size: 2.2rem;
  line-height: 4.3rem;
  padding: 2.4rem;
}

/** Contact Form and Footer social media **/

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.8rem;
  max-width: 37.5rem;
  min-height: 89rem;
  font-family: "Inter", sans-serif;
  padding: 12rem 2.4rem;
}

.contact-section p {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.4rem;
  text-align: center;
  color: #172b4d;
}






/** Button actions **/

.btn-action:hover {
  cursor: pointer;
  background-color: #fff5e1;
  border: 0.1rem solid #f55800;
  color: #f55800;
}

.btn-action:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.btn-action:active {
  background-color: #e05304;
  color: #f4f1f0;
}
